[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
tdata = {editable = true, path = "./../tdata"}
flask-bootstrap = "*"
ta-lib = "*"
pandas = "*"
jaqs = "*"
arctic = {git = "https://github.com/manahl/arctic.git"}
sqlalchemy = "*"
pyecharts = "==0.5.5"

[dev-packages]
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6"
