[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
tdata = "*"
pyecharts = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
ta-lib = "*"
pandas = "*"
jaqs = "*"
arctic = {git = "https://github.com/manahl/arctic.git"}

[dev-packages]
"autopep8" = "*"
pytest = "*"

[requires]
python_version = "3.6"
