{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-xs-4">
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ form.symbol(list='id_symbols') }}
                <datalist id="id_symbols">
                    {% for symbol in symbols %}
                        <option value={{ symbol }} />
                    {% endfor %}
                </datalist>
                {{ form.frequency(list='id_frequencies') }}
                <datalist id="id_frequencies">
                    {% for freq in frequencies %}
                        <option value={{ freq }} />
                    {% endfor %}
                </datalist>
                {{ form.submit() }}
            </form>
        </div>
    </div>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}
    {{ myechart|safe }}
{% endblock app_content %}
