{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-xs-4">
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ form.symbol(list='id_symbols') }}
                <datalist id="id_symbols">
                {% for symbol in symbols %}
                    <option value={{ symbol }} />
                {% endfor %}
                </datalist>
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock app_content %}
